<template>
    <div>
        <core-dos-home />
    </div>
</template>

<script>
    import CoreDosHome from '@/components/core/layouts/uno/HomeComponent'

    export default {
        components: {
            CoreDosHome,
        }
    }
</script>
