<template>
    <div>
        <v-app-bar app color="white" height="100">
            <v-avatar class="mr-3" color="grey lighten-5" size="70" >
                <v-img contain max-height="70%" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png" />   
            </v-avatar>

            <v-toolbar-title class="font-weight-black headline">
                MENU LAYUOT DOS
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon @click="go('default')">
                <v-icon>mdi-content-copy</v-icon>
            </v-btn>
        </v-app-bar>

        <v-content>
            <router-view name="ldos"></router-view>
        </v-content>

        <v-footer class="justify-center" color="#653802" height="100">
            <div class="title font-weight-light grey--text text--lighten-1 text-center">
                &copy; {{ (new Date()).getFullYear() }} — Vuetify, FOOTER — Made with 💜 by Erick Perez
            </div>
        </v-footer>
    </div>
</template>

<script>
    import { mapActions } from 'vuex'
    
    export default {
        beforeCreate() {
            console.log( 'Layout Dos Index', this.$router.currentRoute.name )
            this.$store.commit('layout', 'dos')
        },
        methods: {
            ...mapActions(['changeLayout']),
            go() {
                this.changeLayout('default')
                if ( this.$router.currentRoute.name != 'home' )
                    this.$router.push({ name: 'home' })
            }
        }
    }
</script>
