<template>
    <v-app-bar app color="white" height="100" >
        <v-avatar class="mr-3" color="grey lighten-5" size="70" >
            <v-img contain max-height="70%" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png" />
        </v-avatar>

        <v-toolbar-title class="font-weight-black headline">
            VUETIFY
        </v-toolbar-title>

        <v-spacer></v-spacer>

        <v-btn icon @click="go()">
            <v-icon>mdi-heart</v-icon>
        </v-btn>
    </v-app-bar>
</template>

<script>
    import { mapActions } from 'vuex'
   
    export default {
        methods: {
            ...mapActions(['changeLayout']),
            go() {
                this.changeLayout('default')
                if ( this.$router.currentRoute.name != 'home' )
                    this.$router.push({ name: 'home' })
            }
        }
    }
</script>
