<template>
    <v-content>
        <v-card class="mx-auto" max-width="344" outlined v-for="item in concessionaires" :key="item.concessionaire">
            <v-list-item three-line>
                <v-list-item-content>
                    <div class="overline mb-4">CONCESSIONAIRE</div>
                    <v-list-item-title class="headline mb-1">{{ item.concessionaire }}</v-list-item-title>
                    <v-list-item-subtitle>{{ item.layout }}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar tile size="80" color="grey">
                    <v-img :src="require(`@/assets/img/${item.concessionaire}.png`)" />
                </v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
                <v-btn text right @click="go(item)">IR</v-btn>
            </v-card-actions>
        </v-card>
    </v-content>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data() {
            return {

            }
        },
        computed: {
            ...mapGetters(['concessionaires'])
        }, 
        methods: {
            go(q) {
                console.log(`layout.${q.layout}.index`)
                if ( this.$router.currentRoute.params.concessionaire != q.concessionaire )
                    this.$router.push({ name: `layout.${q.layout}.index`, params: { concessionaire: q.concessionaire } })
            }
        }
    }
</script>
