<template>
    <v-app>
        <v-app-bar app color="white" height="100" v-if="layout === 'default'">
            <v-avatar class="mr-3" color="grey lighten-5" size="70" >
                <v-img contain max-height="70%" src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png" />   
            </v-avatar>

            <v-toolbar-title class="font-weight-black headline">
                MENU PRINCIPAL
            </v-toolbar-title>

            <v-spacer></v-spacer>

            <v-btn icon >
                <v-icon>mdi-heart</v-icon>
            </v-btn>

            <v-menu center bottom>
                <template v-slot:activator="{ on }">
                    <v-btn icon v-on="on">
                        <v-icon>mdi-train-car</v-icon>
                    </v-btn>
                </template>

                <v-list>
                    <v-list-item v-for="item in concessionaires" :key="item.concessionaire" @click="go(item)">
                        <v-list-item-title>{{ item.concessionaire }}</v-list-item-title>
                    </v-list-item>
                </v-list>
            </v-menu>
        </v-app-bar>
        
        <router-view></router-view>

        <v-footer v-if="layout === 'default'" class="justify-center" color="#394969" height="100">
            <div class="title font-weight-light grey--text text--lighten-1 text-center">
                &copy; {{ (new Date()).getFullYear() }} — Vuetify, FOOTER — Made with 💜 by Erick Perez
            </div>
        </v-footer>
    </v-app>
</template>

<script>
    import { mapGetters, mapMutations } from 'vuex'

    export default {
        data() {
            return {

            }
        },
        components: {

        },
        beforeCreate() {
            this.$store.commit('layout', 'default')
        },
        created() {
            
        },
        mounted() {
            
        },
        computed: {
            ...mapGetters(['concessionaires', 'layout'])
        }, 
        methods: {
            go(q) {
                if ( this.$router.currentRoute.params.concessionaire != q.concessionaire )
                    this.$router.push({ name: `layout.${q.layout}.index`, params: { concessionaire: q.concessionaire } })
            }
        }
    }
</script>
