<template>
    <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6">
            <v-card class="elevation-12">
                <v-toolbar color="primary" dark flat>
                    <v-toolbar-title>Login</v-toolbar-title>
                    <v-spacer />
                </v-toolbar>

                <v-card-text>
                    <alert :msg = 'msg' v-if="msg.msg"></alert>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-text-field
                            id="email"
                            label="Email"
                            name="email"
                            prepend-icon="mdi-person"
                            type="text"
                            v-model="email"
                            :rules="emailRules"
                        />

                        <v-text-field
                            id="password"
                            label="Password"
                            name="password"
                            prepend-icon="mdi-lock"
                            type="password"
                            v-model="password"
                            :rules="passwordRules"
                        />
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <v-spacer />
                    <v-btn :disabled="!valid" color="primary" class="mr-4" @click="login">
                        Login
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    export default {
        data() {
            return {
                valid: true,
                email: null,
                password: null,
                msg: {
                    type: '',
                    text: '',
                    icon: ''
                },
                emailRules: [
                    v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                ],
                passwordRules: [
                    v => (v && v.length > 5) || 'Password must be less than 6 characters',
                ]
            }
        },
        methods: {
            login() {
                if (this.$refs.form.validate()) {
                    var app = this

                    this.$auth.login({
                        data: {
                            email: app.email,
                            password: app.password
                        },

                        success: function(res) {
                            app.msg.type = ''
                            app.msg.text = ''
                            app.msg.icon = ''
                            //const redirectTo = this.$auth.user().role === 'admin' ? 'admin.dashboard' : 'dashboard'

                            this.$router.push({ name: 'dashboard' })
                        },

                        error: function(error) {
                            app.password = ''
                            app.msg.type = 'error'
                            app.msg.text = error.response.data.error
                            app.msg.icon = 'mdi-cloud-alert'
                        },

                        rememberMe: true,
                        fetchUser: true
                    })
                }
            }
        }
    }
</script>
