<template>
    <v-content>
        <v-list>
            <v-list-item v-for="item in employees" :key="item.id">
                <v-list-item-title ><v-btn text @click="get(item.id)">{{ item.name }}</v-btn></v-list-item-title>
            </v-list-item>
        </v-list>

        <v-card
            class="mx-auto"
            max-width="344"
            outlined
            v-if="employee != null" >
            <v-list-item three-line>
                <v-list-item-content>
                    <div class="overline mb-4">EMPLOYEE</div>
                    <v-list-item-title class="headline mb-1">{{ employee.lastname }}, {{ employee.name }}</v-list-item-title>
                    <v-list-item-subtitle>{{ employee.phone }}</v-list-item-subtitle>
                </v-list-item-content>

                <v-list-item-avatar
                    tile
                    size="80"
                    color="grey"
                ></v-list-item-avatar>
            </v-list-item>

            <v-card-actions>
                <v-btn text>Button</v-btn>
                <v-btn text>Button</v-btn>
            </v-card-actions>
        </v-card>
    </v-content>
</template>

<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        computed: {
            ...mapGetters('employee', ['employees', 'employee'])
        },
        mounted() {
            this.getAll()
        },
        methods: {
            ...mapActions('employee', ['getAll', 'get'])
        }
    }
</script>
