<template>
    <v-row align="center" justify="center">
        <v-col cols="12" sm="8" md="6">
            <v-card class="elevation-12">
                <v-toolbar color="primary" dark flat>
                    <v-toolbar-title>Register</v-toolbar-title>
                    <v-spacer />
                </v-toolbar>

                <v-card-text>
                    <alert :msg = 'msg' v-if="msg.msg"></alert>
                    <v-form ref="form" v-model="valid" lazy-validation>
                        <v-text-field
                            id="name"
                            label="Nombre"
                            name="name"
                            prepend-icon="mdi-person"
                            type="text"
                            v-model="name"
                            :rules="nameRules"
                        />

                        <v-text-field
                            id="email"
                            label="Email"
                            name="email"
                            prepend-icon="mdi-person"
                            type="text"
                            v-model="email"
                            :rules="emailRules"
                        />

                        <v-text-field
                            id="password"
                            label="Clave"
                            name="password"
                            prepend-icon="mdi-lock"
                            type="password"
                            v-model="password"
                            :rules="passwordRules"
                        />

                        <v-text-field
                            id="password_confirmation"
                            label="Confirmación de clave"
                            name="password_confirmation"
                            prepend-icon="mdi-lock"
                            type="password"
                            v-model="password_confirmation"
                            :rules="passwordConfirmationRules"
                        />
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <v-spacer />
                    <v-btn :disabled="!valid" color="primary" class="mr-4" @click="register">
                        Registrar
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-col>
    </v-row>
</template>

<script>
    import Alert from '@/components/core/dashboard/AlertComponent'

    export default {
        components: {
            Alert
        },
        data() {
            return {
                valid: true,
                name: '',
		        email: '',
		        password: '',
		        password_confirmation: '',
                msg: {
                    type: '',
                    text: '',
                    icon: ''
                },
                nameRules: [
                    v => (v && v.length >= 3) || 'El nombre debe tener al menos 3 caracteres.',
                ],
                emailRules: [
                    v => /.+@.+\..+/.test(v) || 'El e-mail no es valido.',
                ],
                passwordRules: [
                    v => (v && v.length >= 6) || 'La clave debe tener al menos 6 caracteres.',
                ],
                passwordConfirmationRules: [
                    v => (v && v.length >= 6) || 'La confirmación de la clave debe tener al menos 6 caracteres.',
                ]
            }
        },
        methods: {
            register() {
                if (this.$refs.form.validate()) {
                    var app = this

                    this.$auth.register({
                        data: {
                            name: app.name,
					        email: app.email,
					        password: app.password,
					        password_confirmation: app.password_confirmation
                        },
                        success: function(res) {
                            app.msg.type = 'success'
                            app.msg.text = res.data.msg
                            app.msg.icon = 'mdi-cloud-success'
                            this.$router.push({ name: 'login' })
                        },
                        error: function(error) {
                            app.msg.type = 'error'
                            app.msg.text = error.response.data.error
                            app.msg.icon = 'mdi-cloud-alert'
                        },
                        rememberMe: true,
                        fetchUser: true
                    })
                }
            }
        }
    }
</script>
