<template>
    <ValidationObserver ref='obs'>
        <v-card class='elevation-12' slot-scope='{ invalid, validated }'>
            <v-toolbar dark color='primary'>
                <v-toolbar-title>VeeValidate Providers: Refactored</v-toolbar-title>
            </v-toolbar>

            <v-card-text>
                <v-form>
                    <form-text-field rules='required|max:10' v-model='name' label='Name' type='text' :counter='10' />

                    <form-text-field rules='required|email' v-model='email' label='E-mail' type='email' />

                    <form-text-field rules='required' v-model='password' label='Password' type='password' />

                    <form-select rules='required' v-model='select' label='Select' :items='items' />
                </v-form>
            </v-card-text>

            <v-card-actions>
                <v-btn @click='clear'>Clear</v-btn>
                <v-spacer></v-spacer>
                <v-btn @click='submit'>Validate</v-btn>
                <v-btn color='primary' @click='submit' :disabled='invalid || !validated'>Sign Up</v-btn>
            </v-card-actions>
        </v-card>
    </ValidationObserver>
</template>

<script>
    import { ValidationObserver }   from 'vee-validate'
    import FormTextField            from '@/components/form/FormTextField'
    import FormCheckbox             from '@/components/form/FormCheckbox'
    import FormSwitch               from '@/components/form/FormSwitch'
    import FormSelect               from '@/components/form/FormSelect'
    import FormRadio                from '@/components/form/FormRadio'

    export default {
        components: {
            ValidationObserver,
            FormTextField,
            FormCheckbox,
            FormSwitch,
            FormSelect,
            FormRadio
        },
        data() {
            return {
                ex7         : 'red',
                radio       : '',
                people      : ['Erick'],
                items       : ['', 'Foo', 'Bar'],
                name        : '',
                email       : '',
                select      : '',
                password    : '',
                checkbox    : [],
                switches    : [],
                options     : [
                    { label: 'CHECKBOX UNO', value: 'CHECKBOX-1' },
                    { label: 'CHECKBOX DOS', value: 'CHECKBOX-2' }
                ],
                optSwitch   : [
                    { label: 'SWITCH UNO', value: 'SWITCH-1' },
                    { label: 'SWITCH DOS', value: 'SWITCH-2' }
                ],
                radioItem   : [
                    { label: 'red',     color: 'red',    value: 'red' },
                    { label: 'indigo',  color: 'indigo', value: 'indigo' },
                    { label: 'orange',  color: 'orange', value: 'orange' }
                ]
            }
        },
        methods: {
            async clear() {
                this.name = this.email = this.select = this.checkbox = this.password = ''
                this.$nextTick(() => {
                    this.$refs.obs.reset()
                })
            },
            async submit() {
                const result = await this.$refs.obs.validate()
            }
        },
        mounted() {
            
        }
    };
</script>
