<template>
    <v-app>
        <cor-das-nav-bar :drawer="drawer"></cor-das-nav-bar>
        <cor-das-menu :drawer="drawer"></cor-das-menu>

        <v-content>
            <v-container fill-height fluid>
                <router-view name="dashboard"></router-view>
            </v-container>
        </v-content>

        <v-btn bottom color="pink" dark fab fixed right @click="dialog = !dialog">
            <v-icon>mdi-plus</v-icon>
        </v-btn>
    </v-app>
</template>

<script>
    import EventBus     from '@/plugins/event-bus'
    import CorDasMenu 	from '@/components/core/dashboard/MenuComponent'
    import CorDasNavBar from '@/components/core/dashboard/NavBarComponent'

    export default {
        data() {
            return {
                drawer: null,
                dialog: false
            }
        },
        components: {
            CorDasMenu,
            CorDasNavBar
        },
        beforeCreate() {
            this.$store.commit('layout', 'dashboard')
        },
        created() {
            console.log( this.$router.currentRoute.name )
        },
        mounted() {		
            EventBus.$on('EVENT_DRAWER', param => this.drawer = param );
        },
        computed: {

        },
        methods: {

        }
    }
</script>
