<template>
    <div>
        <core-uno-nav-bar />

        <v-content>
            <router-view name="luno"></router-view>
        </v-content>

        <core-uno-footer />
    </div>
</template>

<script>
    import CoreUnoNavBar from '@/components/core/layouts/uno/NavBarComponent'
    import CoreUnoFooter from '@/components/core/layouts/uno/FooterComponent'

    export default {
        data() {
            return {
                
            }
        },
        props: {
            
        },
        components: {
            CoreUnoNavBar,
            CoreUnoFooter
        },
        beforeCreate() {
            console.log( 'Layout Uno Index', this.$router.currentRoute.name )
            this.$store.commit('layout', 'uno')
        },
        created() {

        },
        mounted() {
            
        },
        computed: {

        },
        methods: {
            
        }
    }
</script>
