<template>
	<v-alert text prominent :type="msg.type" :icon="msg.icon">
      	{{ msg.text }}
    </v-alert>
</template>

<script>
    export default {
        props: {
            msg: {
            	type: Object
            }
        }
    }
</script>