<template>
    <v-navigation-drawer v-model="menuDrawer" @input="onInput" :clipped="$vuetify.breakpoint.lgAndUp" app>
        <v-list dense>
            <v-list-item link v-if="$auth.check('admin')" v-for="(route, key) in routes.admin" :key="route.path">
                <v-list-item-action>
                    <v-icon>{{ route.icon }}</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                    <v-list-item-title @click = "changeUrl(route.path)">{{ route.name }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item link v-if="$auth.check(['gerente', 'empleado'])" v-for="(route, key) in routes.empleado" :key="route.path">
                <v-list-item-action>
                    <v-icon>{{ route.icon }}</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                    <v-list-item-title @click = "changeUrl(route.path)">{{ route.name }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item link v-if="!$auth.check()" v-for="(route, key) in routes.unlogged" :key="route.path">
                <v-list-item-action>
                    <v-icon>{{ route.icon }}</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                    <v-list-item-title @click = "changeUrl(route.path)">{{ route.name }}</v-list-item-title>
                </v-list-item-content>
            </v-list-item>

            <v-list-item link v-if="$auth.check()">
                <v-list-item-action>
                    <v-icon>mdi-message</v-icon>
                </v-list-item-action>

                <v-list-item-content>
                    <v-list-item-title @click.prevent="$auth.logout()">Logout</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import EventBus from '@/plugins/event-bus';
   
    export default {
        props: {
            drawer: {
                type: Boolean,
                default: false
            }
        },
        data() {
            return {
                menuDrawer: this.drawer,
                routes: {
                    unlogged: [
                        { name: 'Register', path: 'register', icon: 'mdi-contacts' },
                        { name: 'Login', path: 'login',  icon: 'mdi-history' }
                    ],
                    empleado: [
                        { name: 'Dashboard', path: 'dashboard',  icon: 'mdi-keyboard' }
                    ],
                    admin: [
                        { name: 'Dashboard', path: 'admin.dashboard',  icon: 'mdi-content-copy' }
                    ]
                }
            }
        },
        watch: {
            drawer(newVal) {
                this.menuDrawer = newVal
            }
        },
        methods: {
            changeUrl(url) {
                if (this.$router.currentRoute.name != url ) {
                    this.$router.push({ name: url }).catch(err => {})
                }
            },
            onInput(isOpen){
                EventBus.$emit('EVENT_DRAWER', isOpen)
            }
        }
    }
</script>
